{
    "extends": [
        "eslint:recommended"
    ],
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "no-console": 0,
        "no-obj-calls": 2,
        "no-unused-vars": [
            1,
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "semi": 0,
        "eqeqeq": 1,
        "no-eval": 1,
        "wrap-iife": 1,
        "global-require": 1,
        "jsx-quotes": 0,
        "require-jsdoc": 1,
        "vars-on-top": 1
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}